h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald";
    font-size: x-large;
    font-style: oblique;
}

body {
    font-family: "Open Sans";
    font-size: medium;
}

#conteudo_pagamento {
    font: bold;
    /*visibility: hidden;*/
}